<div class="container">
    <div class="mb-5"></div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <input class="form-control" [(ngModel)]="searchText" type="text" (keyup)='filterDatatable($event)' placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-6 mb-4">
            <button style="float: right !important;" type="button" (click)="btnClick()" class="btn btn-dark">Logout</button>
        </div>
    </div>
    <table id="example" class="table table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <!-- <th>Sr. No.</th> -->
                <th (click)="sort('firstName')">First Name&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('lastName')">Last Name&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('employeeID')">Employee ID&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('email')">Email ID&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('organizationName')">Organization Name&nbsp;<i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tabledata | orderBy : key : reverse | paginate:{ itemsPerPage: 5, currentPage: p };">
                <!-- <td>{{ i + 1 }}</td> -->
                <td>{{row.firstName | titlecase}}</td>
                <td>{{row.lastName | titlecase}}</td>
                <td>{{row.employeeID}}</td>
                <td>{{row.email}}</td>
                <td>{{row.organizationName | titlecase}}</td>
            </tr>
            <tr>
        </tbody>
    </table>
    <pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>
</div>